/*Created Omer Elgrably and Barr Inbar */
/* Contribution code:  Ashish Trivedi */
body {
	background: #e6e6e6;
}

/*css for div_main*/
#div_main {
	width: 100%;
	margin-top: 50px;
	margin-left: 28%;
}

#div_new_post {
	width: 45%;
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid #b2b2b2;
	padding: 20px;
}
/*css for the post textarea on the top*/
#post_textarea {
	width: 100%;
	height: 30px;
	border-width: 0px;
	font-size: 18px;
}
/*css for the post img*/
.post_img{
	display:block;
    margin:auto;
}
/*css for 'Create New Post' button*/
.button_style {
	margin-left: 90%;
	width: 5em;
	background: #5b74a8;
	color: #FFF;
	cursor: pointer;
	padding: 5px;
	font-weight: bold;
}

/*css for the main post stream*/
#post_stream {
	width: 45%;
	font: bold;
}

.post_wrap {
	margin: 25px 0 5px 0;
	clear: both;
	overflow: auto;
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid #b2b2b2;
	padding: 20px;
}

/*css for post author profile picture displayed near every post*/
.post_wrap_author_profile_picture {
	float: left;
	width: 14%;
}

/*css for post content*/
.post_details {
	width: 80%;
}

/*css for displaying post author name*/
.post_author {
	margin-left: 15%;
	font-size: 16px;
	font-weight: bold;
	color: #5b74a8;
}

/*css for displaying post text*/
.post_text {
	margin: 7px 0;
	font-size: 20px;
	line-height: 1.5em
}

/*css for Like, Unlike and Comment details */
.post_feedback {
	clear: both;
	padding: 2px 10px 2px 10px;
	font-size: 12px;
	border: solid 1px #F2F2F2;
	width: 80%;
	margin-left: 9%;
}

.post_feedback_like_img {
	width: 19px;
	height: 16px;
}

.post_feedback_like_unlike {
	cursor: pointer;
	padding-left: 10px;
	padding-right: 5px;
	color: #5b74a8;
	font-weight: bold;
}

.post_feedback_comment {
	cursor: pointer;
	padding-left: 20px;
	padding-right: 10px;
	color: #5b74a8;
	font-weight: bold;
}

.post_feedback_count {
	color: #999;
	font-size: 12px;
	padding-right: 20px;
	border-right: solid 1px #d5d5d5
}

/*css for post timestamp */
.post_timestamp {
	color: #999;
	font-size: 12px;
	padding-right: 20px;
	float: left;
}

/*css for comments */
.comment {
	background-color: #fafafa;
	border: solid 1px #F2F2F2;
	padding-top: 5px;
	margin: 2px 0
}

.comment_author_profile_picture {
	margin: 0px;
	float: left;
}

.comment_author {
	margin: 0px 0px 0px 2px;
	color: #5b74a8;
	padding-left: 40px;
	font-size: 14px;
}

.comment_author_profile_picture img {
	width: 25px;
	height: 25px
}

.comment_text {
	padding-left: 40px;
	color: #555;
	font-size: 12px
}

.comment_text a {
	color: #099;
	font-weight: 100;
	font-size: 14px
}

.comment_text textarea {
	width: 70%;
	resize: none;
	border: none;
}

/*css for line seperating two posts */
hr.soften.special {
	margin-top: 20px
}

hr.soften {
	height: 1px;
	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1),
		transparent);
	background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1),
		transparent);
	background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1),
		transparent);
	background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1),
		transparent);
	border: 0;
	clear: both;
	behavior: url(PIE.php)
}

/* css for the menu bar */
.ul_menu {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color: #667fb2;
}

.li_menu {
	float: left;
}

.li_menu .a_menu {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.li_menu

 

.a_menu


:hover


:not

 

(
.active

 

)
{
background-color


:

 

#405172


;
}
.active {
	background-color: #667fb2;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.biginput {
	width: 300px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #c8c8c8;
	border-radius: 2px;
	color: #aeaeae;
	font-weight: normal;
	font-size: 1.0em;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	margin-top: 5px;
}

.biginput:focus {
	color: #858585;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #fff;
	cursor: default;
	overflow: auto;
}

.autocomplete-suggestion {
	padding: 10px 5px;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected {
	background: #f0f0f0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399ff;
}

/* css for the login page */
@import "bourbon";

.login_body {
	background: #eee !important;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	.
	form-signin-heading
	,
	.checkbox
	{
	margin-bottom
	:
	30px;
}

.login_checkbox {
	font-weight: normal;
}

.form-control[type="text"] {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px; @ include box-sizing(border-box); &: focus { z-index : 2;
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-control[type="password"] {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px; @ include box-sizing(border-box); &: focus { z-index : 2;
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
///////////////